body {
  font-family: "orpheuspro", serif;
}

p {
  font-family: "freight-text-pro", serif;
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: normal;
  color: #444
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
  color: #E84433;
}

h3 {
  font-size: 1.999em;
  color: #2C91D0;
}

h4 {
  font-size: 1.414em;
}

#nav-header h1 {
  font-size: 2em;
}

#nav-header h3 {
  font-size: 1.3em;
  color: white;
}

#nav-header p {
  font-family: "orpheuspro", serif !important;
  font-size: 1em;
  color: white;
}

blockquote {
  font-size: 1.6em;
  font-family: "freight-text-pro", serif;
  color: #444;
}

cite {
  font-family: "freight-text-pro", serif;
  color: #444;
}
